body,div,ul,li,p,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form, textarea{
	margin:0px;
	padding:0px;
	font-size:14px;
}
ul{
	list-style:none;
}
img,a img{
	border:none;
}
a{
	text-decoration:none;
}
a.hover{
	text-decoration:underline;
}
.auto{
	width:980px;
	margin:0px auto;
}
#header{
	height:452;
	background:url(top_bg.jpg) repeat-x;
}
#header #h-top{
	height:100px;
}
#h-top #logo{
	width:291;
	padding:30px 25px;
	float:left;
}
#logo span{
	font-size:14;
	color:white;
	float:right;
}
#h-top #search{
	width:300px;
	height:60px;
	float:right;
	margin:30px;
}
#search .txt{
	width:180px;
	height:28px;
	background:black;
	border:1px solid black;
	color:white;
	padding:5px;
}
#search .sub{
	width:80px;
	height:28px;
	cursor:pointer;
}
#header #h-mid{
	height:50px;	
}
#header #h-mid ul li{
	
	float:left;
	padding:0px 0px 0px 10px;
}
#header #h-mid li a{
	color:black;
	font-size:13px;
	font-weight:bold;
	display:block;
	width:103px;
	height:27px;
	text-align:center;
	line-height:27px;
	margin:10px 0px 0px 0px;
	
}
#header #h-mid li a:hover{
	background:url(hover.png);
	color:white;
	text-decoration:none;
}
#header #h-bom{
	height:301px;
	background:url(runplay_bg.jpg);
}
#header #h-bom #bom-left{
	float:left;
	margin:50px 70px 0px 40px;
}
#header #h-bom #bom-right{
	float:left;
	margin:0px 0px 0px 10px;
}
#header #h-bom #bom-right h1{
	font-size:20px;
	color:white;
	font-weight:none;
	margin:50px 0px 10px 0px;
}
#header #h-bom #bom-right h2{
	font-size:14px;
	font-weight:none;
	color:white;
	margin:0px 0px 40px 0px;
}
#header #h-bom #bom-right a{
	color:white;
	display:block;
	width:103px;
	height:27px;
	text-align:center;
	line-height:27px;
	background:url(default.png);
}
#header #h-bom #bom-right a:hover{
	background:url(d_hover.png);
}
#main{
	height:927px;
	background:url(main_top_bg.jpg) repeat-x;
}
#main1{
	height:927px;
	background:url(main1_bottom_bg.jpg) 0px bottom repeat-x;
	
}
#main-left{
	width:640px;
	float:left;
}
#main-left #m-top h1{
	font-size:25px;
	padding:40px 0px 10px 40px;
}
 #main-left #m-top p{
	font-size:14px;
	padding:10px 0px 40px 40px;
}
 #main-left #m-top p a{
	color: #63B8FF;
}
 #main-left #m-bom h1{
	font-size:25px;
	padding:0px 0px 10px 40px;
}
 #main-left #m-bom ul li{
	width:270px;
	height:180px;
	background:#f1f2ea;
	border:1px solid #d5d7ca;
	padding:6px;
	margin:10px 10px 25px 20px;
	float:left;
}
 #main-left #m-bom ul li p{
	 font-size:16px;
	 font-weight:bold;
	 color:#000000;
	 margin:10px 0px 0px 0px;
	 
 }
 #main-left #m-bom ul li span{
	display:block;
}
#main-left #m-bom a{
	color:#fff;
	display:block;
	width:103px;
	height:27px;
	text-align:center;
	line-height:27px;
	background:url(default.png);
	margin:20px 0px 30px 18px;
	clear:both;
}
#main-left #m-bom a:hover{
	background:url(d_hover.png);
}
#main-right{
	width:280px;
	height:900px;
	float:right;
}
#main-right #right1 h1{
	font-size:25px;
	padding:40px 0px 10px 0px;
	font-weight:normal;
}
#main-right #right1 li{
	border-bottom:1px dashed #d5d7ca;
	margin:10px 0px 0px 0px;
	padding-bottom:25px;
}
#main-right #right1 ul a{
	color: #63B8FF;
	text-decoration:underline;
	display:block;
	margin-bottom:3px;
	font-weight:normal;
}
#main-right #right2 #div1{
	width:100%;
	height:100px;
	background:url(twitter.png) no-repeat right 20px;
	
}
#main-right #right2 h2{
	font-size:20px;
	padding:40px 0px 10px 0px;
	font-weight:normal;
}
#main-right #right2 #div2{
	width:100%;
	height:100px;
	background:url(rss.png) no-repeat right 20px;
	
}
#footer{
	height:100px;
	background:url(footer_bg.jpg) repeat-x;
	padding:20px;
	clear:both;
}
#footer p{
	color:white;
	font-size:14px;
	font-weight:normal;
	padding-top:5px;
	text-align:center;
}
#footer p a{
	color:white;
	font-size:14px;
	text-decoration:underline;
}