#main{
	clear:both;
	background:url(main_bg.jpg) repeat-x;
}
#main .auto .img1{
	border:2px solid #666666;
}
#main .title{
	height:40px;
	line-height:40px;
	background:url(cat_tit.gif) 0px bottom no-repeat;
	margin-top:10px;
}
#main .title h2{
	color:#545351;
	font-family:微软雅黑;
	font-size:16px;
	float:left;
}
#main .title a{
	float:right;
	color:#666666;
}
#main ul li{
	width:238px;
	height:300px;
	border-left:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	float:left;
}
#main ul li#lilast{
	width:241px;
	border-right:1px solid #e1e1e1;
}
#main ul li img{
	width:160px;
	height:160px;
	margin:40px auto;
	display:block;
}
#main ul li p{
	color:#979693;
	width:180px;
	height:23px;
	margin:0px auto;
	
}
#main ul li a{
	color:#979693;
	
}
#main ul li a:hover{
	text-decoration:underline;
}
#main #m-bom{
	border-bottom:1px solid #e8e8e8;
	padding:20px 0px 25px 0px;
	clear:both;
}