body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,p,input,form,textarea{
	margin:0px;
	padding:0px;
	font-size:14px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
.auto{
	width:960px;
	margin:0px auto;
}
body{
	background:url(body_bg.jpg) repeat-x;
}
#top{
	height:100px;
}
#top .nav{
	height:46px;
	background:url(mainnav_bg.gif) repeat-x;
	margin:15px 0 0 0;
}
#top .nav .nav-l {
	float:left;
}
#top .nav .logo{
	float:left;
}
#top .nav .nav-r{
	float:right;
}
#top .nav .yuanjiao{
	width:10px;
	height:46px;
}
#top .nav .mainnav{
	width:940px;
	height:46px;
	float:left;
}
#top .nav .mainnav img{
	width:163px;
	height:46px;
	display:block;
	float:left;
}
#top .nav .mainnav ul{
	width:777px;
	height:46px;
	float:left;
}
#top .nav .mainnav ul li{
	float:left;
}
#top .nav .mainnav ul li a{
	color:#576267;
	width:135px;
	height:46px;
	line-height:46px;
	text-align:center;
	font-size:14px;
	display:block;
	background:url(main_line.gif) no-repeat;
}
#top .nav .mainnav ul li a:hover{
	background:url(green_bg.jpg);
	color:#ffffff;
}
#top .nav1{
	margin:10px 0 0 0;
	float:right;
}
#top .nav1 a{
	color:#979693;
}
#top .nav1 a#cart:hover{
	color:#43b43e;
}
#top .nav1 img{
	margin-left:15px;
}
#top .nav1 form.search{
	width:186px;
	height:23px;
	background:url(search_03.gif);
	margin:0px 20px 0px 20px;
	float:right;
}


#top .nav1 form.search .keywords{
	width:140px;
	height:20px;
	margin:2px 0px 0px 10px;
	border:none;
}
#top .nav1 form.search .btn{
	width:15px;
	height:16px;
	background:url(search_biao.gif);
	border:none;
	margin:4px 0px 0px 5px;
	cursor:pointer;
}

#position{
	height:40px;
	line-height:40px;
	border-top:2px solid #f18336;
	color:#979693;
}
#position a{
	color:#333333;
}
#position a:hover{
	text-decoration:underline;
}

#bom{
	margin:50px 0px;
}
#bom p{
	text-align:center;
	color:#999999;
}
#bom p a{
	color:#999999;
	font-size:30px;
}